//
// Big calendar
//
$border-color : #d9d9d9;
$primary: #2262C6;
$unit-width : 6.667%;
$label-width : 6.66%;

.big-calendar-custom {
  height: auto;
  border: 1px solid $border-color;
  padding: 10px 0px;

  .cell {
    width: 6.667%;
    height: 50px;
    border: 1px solid $border-color;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cell-title {
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 0em;
    color: #343434;
  }

  .trainer-schedule {
    margin: 2px;
    position: absolute;
    height: 50px;
    left: $unit-width;
    width: calc($label-width * 2);

    &.waiting-confirm {
      background: #DBE3F5;
      border: 1px solid #838383;
    }

    &.waiting-reception {
      background: #F8F0DD;
      border: 1px solid #F3CC30;
    }

    &-lable {
      display: flex;
      align-items: flex-start;
      gap: 2px;

      svg {
        margin: 1px;
        width: 16px;
        height: 16px;
      }
    }

    &.in-operation {
      background: #F8F0DD;
      border: 1px solid #F3CC30;
    }

    &-lable {
      display: flex;
      align-items: flex-start;
      gap: 2px;

      svg {
        margin: 1px;
        width: 16px;
        height: 16px;
      }
    }

    &.waiting-visit {
      background: #F7F1DE;
      border: 4px solid #F3CC30;
    }

    &-lable {
      display: flex;
      align-items: flex-start;
      gap: 2px;

      svg {
        margin: 1px;
        width: 16px;
        height: 16px;
      }
    }

    &.completed {
      background: #E2E2E4;
      border: 1px solid #838383;
    }

    &-lable {
      display: flex;
      align-items: flex-start;
      gap: 2px;
      padding-left: 3px;

      svg {
        margin: 1px;
        width: 16px;
        height: 16px;

        &:last-child {
          transform: scale(1.3);
        }
      }
    }

    &-detail {
      display: flex;
      align-items: center;
      gap: 2px;
      margin-top: 5px;
      padding-left: 3px;
      word-break: keep-all;

      span {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      svg {
        margin: 1px;
        width: 16px;
        height: 16px;
      }
    }
  }

  .booking-calendar {

    .cell-split {
      display: flex;

      >div {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        &:first-child {
          border-right: 1px dashed $border-color;
        }
      }
    }

    .header_booking-calendar {

      &.date-zone {
        padding: 12px 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 24px;

        .icon-previous,
        .icon-next {
          cursor: pointer;
        }

        .date-label {
          font-size: 20px;
          font-weight: 500;
          line-height: 27px;
          letter-spacing: 0em;

        }
      }

      &.time-zone {
        display: flex;

        .cell {
          border-right: unset;

          &:first-child {
            border-left: unset;
          }
        }
      }

      &.booking-times-zone {
        display: flex;

        .cell {
          border-right: unset;
          border-top: unset;

          &:first-child {
            border-left: unset;
          }
        }
      }

    }

    .body_booking-calendar {
      &.trainer {
        position: relative;
        height: 55px;
        display: flex;

        .trainer-name {
          border: 1px solid $primary;
          width: 100%;
          height: 35px;
          color: $primary;
          font-size: 16px;
          align-items: center;
          justify-content: center;
          text-overflow: ellipsis;
          overflow: hidden;
          display: block;
          white-space: nowrap;
          text-align: center;
        }

        .trainer-cell {
          width: calc($unit-width / 2);
          display: flex;
          border: 1px solid $border-color;
          border-top: unset;
          height: 100%;
          border-right: unset;

          .trainer-cell-col {
            height: 100%;

            &:first-child {
              border-right: 1px dashed $border-color;
            }
          }

          &:first-child {
            border-left: unset;
          }

          .trainer-cell-split {
            height: 50%;
            width: 100%;

            &:first-child {
              border-bottom: 1px dashed $border-color;
            }
          }
        }

        .trainer {
          width: $unit-width;
        }
      }
    }
  }
}

.modal-option-booking {

  .ant-modal-content {
    border-radius: 8px;

    .ant-modal-body {
      .modal-option-booking-content {
        height: 88px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        border-top: unset;

        button {
          height: 40px;
          width: 160px;
        }
      }
    }
  }
}

.modal-config-schedule-booking {
  width: auto !important;

  .ant-modal-content {
    border-radius: 8px;

    .ant-modal-header {
      border-radius: 8px 8px 0px 0px;
    }

    .ant-modal-body {
      .modal-config-schedule-booking-content {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        padding: 25px 50px;
        border-top: unset;
        box-shadow: 0px 1px 4px 0px #6666661A;
        border: 1px solid #ECECEC;

        .form-config-schedule {

          .description {
            .ant-row.ant-form-item {
              gap: 30px;
            }

            input {
              width: 350px;
            }
          }

          .ant-form-item {
            margin-bottom: 0;
          }
        }
      }
    }

    .ant-modal-footer {
      display: flex;
      gap: 15px;
      flex-direction: row-reverse;

      button {
        width: 160px;
        height: 40px;
      }
    }
  }
}