#customer-center {
    height: 100%;


    .customer-center__container {
        height: auto;
        background: #fff;
        border-radius: 24px;
        padding: 24px 48px;
        box-shadow: $code-box-shadow;
        display: flex;
        flex-direction: column;
        gap: 24px;

        @include smartphone {
            padding: 24px;
        }

        &__title {
            font-size: 22px;
            font-weight: 600;
            color: $black;
        }

        &__content {

            form {
                display: flex;
                flex-direction: column;
                gap: 24px;
            }

            &__form {

                &__add {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 24px;
                    align-items: center;
                    justify-content: space-between;

                    .search {
                        width: 40%;

                        @include smartphone {
                            width: 100%;
                        }
                    }

                    .action {
                        button {
                            min-width: 80px;

                            @include smartphone {
                                min-width: 100%;
                            }
                        }
                    }

                }

                &__table {}

            }
        }
    }

}