#select-store {

    .select-store {
        &__container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 12px;

            &__title {
                font-size: 18px;
                font-weight: 700;
            }

            &__registration {
                display: flex;
                align-items: center;
                justify-content: center;

                button {
                    width: auto;
                    font-size: 18px;
                    font-weight: bold;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }


            &__store {
                margin-top: 12px;

                ul {
                    display: flex;
                    flex-direction: column;
                    gap: 8px;

                    li {

                        .store-item {
                            display: flex;
                            align-items: center;
                            gap: 18px;

                            &__name {
                                font-size: 18px;
                                font-weight: 600;
                            }

                            &__action {
                                cursor: pointer;
                                background: #eeece1;
                                padding: 8px 16px;
                                border-radius: 60%;
                            }
                        }
                    }

                }
            }
        }
    }

    .register-store {
        &__container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 12px;

            &__name {
                display: flex;
                flex-direction: column;

                font-size: 16px;
                font-weight: 600;

                .ant-form-item {
                    margin-bottom: 0px;
                }
            }

            &__url {
                display: flex;
                flex-direction: column;
                gap: 12px;
                margin-top: 24px;

                &__input {
                    display: flex;
                    align-items: baseline;
                    gap: 6px;
                    font-size: 16px;
                }

                &__rules {
                    color: red;
                }
            }

            &__action {
                text-align: center;
                display: flex;
                gap: 24px;
                justify-content: center;
            }
        }
    }
}