//
// Filter area
//
$padding-left: 60px;
$primary-text: #2262c6;

.filter-area {
  background: #fff;
  height: fit-content;
  width: 100%;
  margin-bottom: 16px;
  border-radius: 8px;
  padding: 24px 35px 24px $padding-left;
  color: $black;
  box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.10);

  &-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 22px;
    margin-bottom: 20px;
    color: $primary-text;
  }

  &-content {
    // overflow-x: auto;
  }

  &-type {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 20px;
    line-height: 22px;
  }

  // Contact filter
  .filter-area-contact {
    .title-area {
      font-weight: 700;
      font-size: 24px;
      line-height: 22px;
      color: $primary-text;
      margin-bottom: 30px;
    }

    .flex-row-reverse {
      flex-direction: row-reverse;
    }

    .row-gap {
      gap: 35px;

      @media (max-width: $tablet-max) {
        gap: unset;
      }
    }

    .filter-area-container {
      margin-top: 12px;

      .ant-form-item {
        margin-bottom: 12px;

        .ant-form-item-label {
          text-align: start;

          label {
            color: #343434;
          }
        }

        .ant-select-selector {
          border-radius: 12px;
        }
      }

      &__row {
        width: 100%;
        display: flex;

        @media (max-width: $tablet-max) {
          flex-direction: column;
        }

        .ant-input-affix-wrapper {
          border: none;
          border-radius: 0;
          border-bottom: 1px solid #d9d9d9;
        }

        .row-1 {
          width: 33.33%;

          @media (max-width: $tablet-max) {
            width: 100%;
          }
        }

        .row-2 {
          width: 33.33%;

          @media (max-width: $tablet-max) {
            width: 100%;
          }
        }

        .row-3 {
          width: 33.33%;

          @media (max-width: $tablet-max) {
            width: 100%;
          }
        }

        .button-group {
          display: flex;
          gap: 10px;
          flex-direction: row-reverse;
        }

        .form_input {
          width: 100%;
          border-radius: 4px;
        }
      }
    }
  }

  //Admin filter
  .filter-area-admin {
    .filter-area-container {
      margin-top: 12px;

      .ant-form-item {
        margin-bottom: 12px;

        .ant-form-item-label {
          text-align: start;

          label {
            color: #343434;
          }
        }

        .ant-select-selector {
          border-radius: 12px;
        }
      }

      &__row-1 {
        width: 41%;

        .ant-input-affix-wrapper {
          border: none;
          border-radius: 0;
          border-bottom: 1px solid #d9d9d9;
        }
      }

      &__row-2 {
        display: flex;
        justify-content: space-between;

        @include tablet {
          display: block !important;
        }

        .select-status {
          width: 33%;

          @include tablet {
            width: 100%;
            justify-content: flex-start;
          }
        }

        .filter-action {
          width: 33%;
          display: flex;
          justify-content: flex-end;
          gap: 10px;

          @include tablet {
            width: 100%;
            justify-content: flex-start;
          }

          button {
            height: 40px;

            span {
              display: flex;
              justify-content: center;
              align-items: center;
              margin-top: 1px;
            }
          }
        }
      }
    }
  }

  //Branch admin filter
  .filter-area-branch-admin {
    .filter-area-container {
      margin-top: 12px;

      .ant-form-item {
        margin-bottom: 12px;

        .ant-form-item-label {
          text-align: start;

          label {
            color: #343434;
          }
        }

        .ant-select-selector {
          border-radius: 12px;
        }
      }

      &__row-1 {
        width: 41%;

        .ant-input-affix-wrapper {
          border: none;
          border-radius: 0;
          border-bottom: 1px solid #d9d9d9;
        }
      }

      &__row-2 {
        display: flex;

        .select-store {
          width: 33%;
        }

        .select-status {
          width: 33%;
        }

        .select-role {
          width: 33%;
        }

        .filter-action {
          width: 33%;
          display: flex;
          justify-content: flex-end;
          gap: 10px;

          button {
            height: 40px;
          }
        }
      }
    }
  }

  //Role filter
  .filter-area-role {
    .filter-area-container {
      margin-top: 12px;

      .ant-form-item {
        margin-bottom: 12px;

        .ant-form-item-label {
          text-align: start;

          label {
            color: #343434;
          }
        }

        .ant-select-selector {
          border-radius: 12px;
        }
      }

      &__row-1 {
        width: 41%;

        .ant-input-affix-wrapper {
          border: none;
          border-radius: 0;
          border-bottom: 1px solid #d9d9d9;
        }
      }

      &__row-2 {
        display: flex;

        .select-store {
          width: 33%;
        }

        .select-status {
          width: 33%;
        }

        .select-role {
          width: 33%;
        }

        .filter-action {
          width: 33%;
          display: flex;
          gap: 10px;

          button {
            height: 40px;
          }
        }
      }
    }
  }

  //Service filter
  .filter-area-service {
    .filter-form {
      .filter-area-type {
        color: $primary-text;
        font-size: 24px;
        font-weight: 700;
      }

      .filter-area-container {
        .ant-form-item {
          margin-bottom: 12px;

          .ant-form-item-label {
            text-align: start;

            label {
              color: #343434;
            }
          }

          .ant-select-selector {
            border-radius: 12px;
          }
        }

        &__row-1 {
          font-weight: 700;
          font-size: 20px;
          line-height: 22px;
          color: #1a1a1a;
        }

        &__row-2 {
          width: 100%;
          display: flex;

          .select-service {
            width: 33%;
          }

          .select-store {
            width: 33%;
          }

          .filter-action {
            width: 23%;
            display: flex;
            gap: 10px;

            button {
              height: 40px;
            }
          }
        }
      }
    }
  }

  //Customer filter
  .filter-area-customer {
    .filter-form {
      .filter-area-type {
        font-weight: 700;
        font-size: 20px;
        line-height: 22px;
        color: #1a1a1a;
      }

      .filter-area-container {
        .ant-form-item {
          margin-bottom: 12px;

          .ant-form-item-label {
            text-align: start;
            flex: 0 0 35%;
            max-width: 35%;

            label {
              color: #343434;
            }
          }

          .ant-select-selector {
            border-radius: 4px;
          }
        }

        &__row-1 {
          font-size: 20px;
          line-height: 22px;
          color: #1a1a1a;
          display: flex;

          .search-name {
            width: 33%;
          }

          .search-phone {
            width: 33%;
          }
        }

        &__row-2 {
          width: 100%;
          display: flex;

          .select-service {
            width: 33%;
          }

          .select-store {
            width: 33%;
          }

          .filter-action {
            // width: 33%;
            display: flex;
            gap: 10px;

            button {
              height: 40px;
            }
          }
        }
      }
    }
  }

  //Trainer filter
  .filter-area-trainer {
    .filter-form {
      .filter-area-type {
        font-weight: 700;
        font-size: 20px;
        line-height: 22px;
        color: #1a1a1a;
      }

      .filter-area-container {
        .ant-form-item {
          margin-bottom: 12px;

          .ant-form-item-label {
            text-align: start;
            flex: 0 0 25%;
            max-width: 25%;

            label {
              color: #343434;
            }
          }

          .ant-select-selector {
            border-radius: 4px;
          }
        }

        &__row-1 {
          font-size: 20px;
          line-height: 22px;
          color: #1a1a1a;
          display: flex;

          .search-name {
            width: 33%;
          }
        }

        &__row-2 {
          width: 100%;
          display: flex;

          @media (max-width: 1600px) {
            flex-direction: column;
          }

          .select-group {
            display: flex;
            width: 66.66%;

            @media (max-width: 1600px) {
              width: 100%;
            }
          }

          .select-service {
            width: 50%;

            @media (max-width: $tablet-max) {
              width: 100%;
            }

            .status {
              @media (max-width: 1600px) {
                display: flex;
                justify-content: flex-end;
              }
            }
          }

          .filter-action {
            width: 33%;
            display: flex;
            gap: 10px;

            @media (max-width: 1600px) {
              width: 100%;
              justify-content: flex-end;
            }

            button {
              height: 40px;
            }
          }
        }
      }
    }
  }

  //Post filter
  .filter-area-post-management {
    .title-area {
      font-weight: 700;
      font-size: 24px;
      line-height: 22px;
      color: $primary-text;
      margin-bottom: 30px;
    }

    .filter-area-container {
      margin-top: 12px;

      .ant-form-item {
        margin-bottom: 12px;

        .ant-form-item-label {
          text-align: start;

          label {
            color: #343434;
          }
        }

        .ant-select-selector {
          border-radius: 12px;
        }
      }

      &__row {
        width: 100%;
        display: flex;

        @media (max-width: $tablet-max) {
          flex-direction: column;
        }

        .ant-input-affix-wrapper {
          border: none;
          border-radius: 0;
          border-bottom: 1px solid #d9d9d9;
        }

        .row-1 {
          width: 33.33%;

          @media (max-width: $tablet-max) {
            width: 100%;
          }
        }

        .row-2 {
          width: 33.33%;

          @media (max-width: $tablet-max) {
            width: 100%;
          }
        }

        .row-3 {
          width: 33.33%;

          @media (max-width: $tablet-max) {
            width: 100%;
          }
        }

        .button-group {
          display: flex;
          gap: 10px;
          justify-content: center;

          @media (max-width: $tablet-max) {
            justify-content: flex-end;
          }
        }
      }
    }
  }

  .filter-area-faq-management {
    .title-area {
      font-weight: 700;
      font-size: 24px;
      line-height: 22px;
      color: $primary-text;
      margin-bottom: 30px;
    }

    .filter-area-container {
      margin-top: 12px;

      .ant-form-item {
        margin-bottom: 12px;

        .ant-form-item-label {
          text-align: start;

          label {
            color: #343434;
          }
        }

        .ant-select-selector {
          border-radius: 12px;
        }
      }

      &__row {
        width: 100%;
        display: flex;

        @media (max-width: $tablet-max) {
          flex-direction: column;
        }

        .ant-input-affix-wrapper {
          border: none;
          border-radius: 0;
          border-bottom: 1px solid #d9d9d9;
        }

        .row-1 {
          flex: 1;
        }

        .row-2 {
          flex: 1;
        }

        .row-3 {
          flex: 1;
        }

        .button-group {
          display: flex;
          gap: 10px;
          justify-content: center;

          @media (max-width: $tablet-max) {
            justify-content: flex-end;
          }
        }
      }
    }
  }

  .filter-area-store-management {
    .filter-area-type {
      font-weight: 700;
      font-size: 20px;
      line-height: 22px;
      color: #1a1a1a;
      font-style: normal;
    }

    .title-area {
      font-weight: 700;
      font-size: 24px;
      line-height: 22px;
      color: $primary-text;
      margin-bottom: 30px;
    }

    .filter-area-container {
      margin-top: 12px;

      .ant-form-item {
        margin-bottom: 12px;

        .ant-form-item-label {
          text-align: start;

          label {
            color: #343434;
          }
        }

        .ant-select-selector {
          border-radius: 12px;
        }
      }

      &__row {
        width: 100%;
        display: flex;

        .ant-input-affix-wrapper {
          border: none;
          border-radius: 0;
          border-bottom: 1px solid #d9d9d9;
        }

        .row-1 {
          width: 33.33%;
        }

        .row-2 {
          width: 33.33%;
        }

        .row-3 {
          width: 33.33%;
        }

        .button-group {
          display: flex;
          gap: 10px;
          justify-content: center;
        }
      }
    }
  }

  // schedule history filter
  .filter-area-schedule-history {
    .title-area {
      font-weight: 700;
      font-size: 24px;
      line-height: 22px;
      color: $primary-text;
      margin-bottom: 30px;
    }

    .flex-row-reverse {
      flex-direction: row-reverse;
    }

    .row-gap {
      gap: 35px;
    }

    .filter-area-container {
      margin-top: 12px;

      .ant-form-item {
        margin-bottom: 12px;

        .ant-form-item-label {
          text-align: start;

          label {
            color: #343434;
          }
        }

        .ant-select-selector {
          border-radius: 12px;
        }
      }

      &__row {
        width: 100%;
        display: flex;

        .ant-input-affix-wrapper {
          border: none;
          border-radius: 0;
          border-bottom: 1px solid #d9d9d9;
        }

        .row-1 {
          width: 33.33%;
        }

        .row-2 {
          width: 33.33%;
        }

        .row-3 {
          width: 33.33%;
        }

        .button-group {
          display: flex;
          gap: 10px;
          flex-direction: row-reverse;
        }

        .form_input {
          width: 100%;
          border-radius: 4px;
        }
      }
    }
  }

  // trainer ranking - store ranking
  .filter-area-ranking {
    .title-area {
      font-weight: 700;
      font-size: 24px;
      line-height: 22px;
      color: $primary-text;
      margin-bottom: 30px;
    }

    .flex-row-reverse {
      flex-direction: row-reverse;
    }

    .row-gap {
      gap: 35px;
    }

    .filter-area-container {
      margin-top: 12px;

      .ant-form-item {
        margin-bottom: 12px;

        .ant-form-item-label {
          text-align: start;

          label {
            color: #343434;
          }
        }

        .ant-select-selector {
          border-radius: 12px;
        }
      }

      &__row {
        width: 100%;
        display: flex;

        .ant-input-affix-wrapper {
          border: none;
          border-radius: 0;
          border-bottom: 1px solid #d9d9d9;
        }

        .row-1 {
          width: 33.33%;
        }

        .row-2 {
          width: 33.33%;
        }

        .row-3 {
          width: 33.33%;
        }

        .button-group {
          display: flex;
          gap: 10px;
          flex-direction: row-reverse;
        }

        .form_input {
          width: 100%;
          border-radius: 4px;
        }
      }
    }
  }

  //reservation-filter
  .filter-area-reservation {
    .title-area {
      font-weight: 700;
      font-size: 24px;
      line-height: 22px;
      color: $primary-text;
      margin-bottom: 30px;
    }

    .filter-area-container {
      margin-top: 12px;

      .ant-form-item {
        margin-bottom: 12px;

        .ant-form-item-label {
          text-align: start;

          label {
            color: #343434;
          }
        }

        .ant-select-selector {
          border-radius: 12px;
        }
      }

      &__row {
        width: 100%;
        display: flex;

        @media (max-width: $tablet-max) {
          flex-direction: column;
        }

        .ant-input-affix-wrapper {
          border: none;
          border-radius: 0;
          border-bottom: 1px solid #d9d9d9;
        }

        .row-1 {
          flex: 1;
        }

        .row-2 {
          flex: 1;
        }

        .row-3 {
          flex: 1;
        }

        .button-group {
          display: flex;
          gap: 10px;
          justify-content: center;

          @media (max-width: $tablet-max) {
            justify-content: flex-end;
          }
        }
      }
    }
  }
}