.border-radius {
  border-radius: 15px;
}

.txt__small {
  font-size: 12px;
}
.txt__normal {
  font-size: 14px;
}
.txt__medium {
  font-size: 16px;
}
.txt__large {
  font-size: 24px;
}
.txt__huge {
  font-size: 32px;
}
.txt__primary {
  color: #2262C6;
}
.txt__primary {
  color: #fbe9e8;
}

.bg__white {
  background-color: white;
}
.bg__primary {
  background-color: #2262C6;
}
.bg__primary {
  background-color: #fbe9e8;
}

#select-store .select-store__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}
#select-store .select-store__container__title {
  font-size: 18px;
  font-weight: 700;
}
#select-store .select-store__container__registration {
  display: flex;
  align-items: center;
  justify-content: center;
}
#select-store .select-store__container__registration button {
  width: auto;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
#select-store .select-store__container__store {
  margin-top: 12px;
}
#select-store .select-store__container__store ul {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
#select-store .select-store__container__store ul li .store-item {
  display: flex;
  align-items: center;
  gap: 18px;
}
#select-store .select-store__container__store ul li .store-item__name {
  font-size: 18px;
  font-weight: 600;
}
#select-store .select-store__container__store ul li .store-item__action {
  cursor: pointer;
  background: #eeece1;
  padding: 8px 16px;
  border-radius: 60%;
}
#select-store .register-store__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}
#select-store .register-store__container__name {
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 600;
}
#select-store .register-store__container__name .ant-form-item {
  margin-bottom: 0px;
}
#select-store .register-store__container__url {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-top: 24px;
}
#select-store .register-store__container__url__input {
  display: flex;
  align-items: baseline;
  gap: 6px;
  font-size: 16px;
}
#select-store .register-store__container__url__rules {
  color: red;
}
#select-store .register-store__container__action {
  text-align: center;
  display: flex;
  gap: 24px;
  justify-content: center;
}

#store-preference {
  height: 100%;
}
#store-preference .store-preference__container {
  height: auto;
  background: #fff;
  border-radius: 24px;
  padding: 24px 48px;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media screen and (max-width: 768px) {
  #store-preference .store-preference__container {
    padding: 24px;
  }
}
#store-preference .store-preference__container__title {
  font-size: 22px;
  font-weight: 600;
  color: #000000;
}
#store-preference .store-preference__container__content {
  display: flex;
  justify-content: center;
}
#store-preference .store-preference__container__content form {
  width: 80%;
}
#store-preference .store-preference__container__content .ant-upload.ant-upload-select {
  width: 100%;
  aspect-ratio: 1000/200;
}
#store-preference .store-preference__container__content .ant-upload.ant-upload-select img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
#store-preference .store-preference__container__content__action {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

#create-qr {
  height: 100%;
}
#create-qr .create-qr__container {
  height: auto;
  background: #fff;
  border-radius: 24px;
  padding: 24px 48px;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media screen and (max-width: 768px) {
  #create-qr .create-qr__container {
    padding: 24px;
  }
}
#create-qr .create-qr__container__title {
  font-size: 22px;
  font-weight: 600;
  color: #000000;
}
#create-qr .create-qr__container__content__action {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

#category-setting {
  height: 100%;
}
#category-setting .category-setting__container {
  height: auto;
  background: #fff;
  border-radius: 24px;
  padding: 24px 48px;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media screen and (max-width: 768px) {
  #category-setting .category-setting__container {
    padding: 24px;
  }
}
#category-setting .category-setting__container__title {
  font-size: 22px;
  font-weight: 600;
  color: #000000;
}
#category-setting .category-setting__container__content__list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 12px;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.08);
}
#category-setting .category-setting__container__content__list .category-setting__item {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: space-between;
  padding: 12px 24px;
  height: 50px;
  width: 100%;
  border-radius: 8px;
  border: 1px solid #838383;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.08);
}
#category-setting .category-setting__container__content__list .category-setting__item__name {
  width: 100%;
  text-align: left;
  font-size: 14px;
  font-weight: 600;
}
#category-setting .category-setting__container__content__list .category-setting__item__delete {
  cursor: pointer;
}
#category-setting .category-setting__container__content__list .category-setting__item.active {
  background: #2262C6;
  color: #fff;
  border-color: #fff;
  transform: translateX(10px);
  transition: all 0.3s ease;
}
#category-setting .category-setting__container__content__detail {
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
#category-setting .category-setting__container__content__detail .category-setting__detail {
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.08);
  padding: 12px 24px;
  height: 100%;
}
#category-setting .category-setting__container__content__detail .category-setting__detail__title {
  font-size: 20px;
  font-weight: 600;
}
#category-setting .category-setting__container__content__detail .category-setting__detail__action {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 100%;
}
#category-setting .category-setting__container__content__detail .category-setting__detail.no-category {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  font-size: 22px;
}
#category-setting .category-setting__container__content__detail__action {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

#option-setting {
  height: 100%;
}
#option-setting .option-setting__container {
  height: auto;
  background: #fff;
  border-radius: 24px;
  padding: 24px 48px;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media screen and (max-width: 768px) {
  #option-setting .option-setting__container {
    padding: 24px;
  }
}
#option-setting .option-setting__container__title {
  font-size: 22px;
  font-weight: 600;
  color: #000000;
}
#option-setting .option-setting__container__content__list {
  display: flex;
  flex-direction: column;
  padding: 12px;
  border-radius: 8px;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.08);
}
#option-setting .option-setting__container__content__list__options {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
#option-setting .option-setting__container__content__list__options__title {
  font-weight: 18px;
  font-weight: 600;
}
#option-setting .option-setting__container__content__list__options__content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
#option-setting .option-setting__container__content__list__options__content .option-setting__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #838383;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.08);
}
#option-setting .option-setting__container__content__list__options__content .option-setting__item.active {
  background: #2262C6;
  color: #fff;
  border-color: #fff;
  transform: translateX(10px);
  transition: all 0.3s ease;
}
#option-setting .option-setting__container__content__detail {
  height: auto;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  gap: 8px;
}
#option-setting .option-setting__container__content__detail .option-setting__detail {
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.08);
  padding: 12px 24px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
#option-setting .option-setting__container__content__detail .option-setting__detail__title {
  font-size: 20px;
  font-weight: 600;
}
#option-setting .option-setting__container__content__detail .option-setting__detail__form__modifier {
  padding: 24px;
  border-radius: 8px;
  background: #eeece1;
}
#option-setting .option-setting__container__content__detail .option-setting__detail__form__modifier__list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}
#option-setting .option-setting__container__content__detail .option-setting__detail__form__modifier__list__item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
#option-setting .option-setting__container__content__detail .option-setting__detail__action {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  width: 100%;
}
#option-setting .option-setting__container__content__detail__action {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

#menu-setting {
  height: 100%;
}
#menu-setting .menu-setting__container {
  height: auto;
  background: #fff;
  border-radius: 24px;
  padding: 24px 48px;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media screen and (max-width: 768px) {
  #menu-setting .menu-setting__container {
    padding: 24px;
  }
}
#menu-setting .menu-setting__container__title {
  font-size: 22px;
  font-weight: 600;
  color: #000000;
}
#menu-setting .menu-setting__container__content__list {
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 24px;
  border-radius: 8px;
  justify-content: space-between;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.08);
}
#menu-setting .menu-setting__container__content__list__category {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
#menu-setting .menu-setting__container__content__list__category__title {
  font-size: 18px;
  font-weight: 600;
  color: #000000;
}
#menu-setting .menu-setting__container__content__list__category__select .ant-select {
  width: 90%;
}
#menu-setting .menu-setting__container__content__list__upload {
  display: flex;
  flex-direction: column;
  gap: 4px;
}
#menu-setting .menu-setting__container__content__list__upload__title {
  font-size: 18px;
  font-weight: 600;
  color: #000000;
}
#menu-setting .menu-setting__container__content__detail {
  height: auto;
  display: flex;
  flex-direction: column;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  padding: 12px;
  gap: 12px;
}
#menu-setting .menu-setting__container__content__detail__header {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  #menu-setting .menu-setting__container__content__detail__header {
    gap: 24px;
    flex-direction: column;
  }
}
#menu-setting .menu-setting__container__content__detail__header__title {
  font-size: 18px;
  font-weight: 600;
  color: #000000;
}
#menu-setting .menu-setting__container__content__detail__header__action {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 12px;
}
#menu-setting .menu-setting__container__content__detail__header__action button {
  flex: 1;
  min-width: auto;
  min-width: 80px;
}
#menu-setting .menu-setting__container__content__detail__content .menu-setting__item {
  height: 100px;
  border-radius: 8px;
  font-size: 16px;
  padding: 12px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #838383;
  box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.08);
}
@media screen and (max-width: 768px) {
  #menu-setting .menu-setting__container__content__detail__content .menu-setting__item {
    padding: 8px;
  }
}
#menu-setting .menu-setting__container__content__detail__content .menu-setting__item__head {
  display: flex;
  gap: 8px;
}
#menu-setting .menu-setting__container__content__detail__content .menu-setting__item__head > div {
  display: flex;
  align-items: center;
}
#menu-setting .menu-setting__container__content__detail__content .menu-setting__item__head__image {
  height: 80%;
}
#menu-setting .menu-setting__container__content__detail__content .menu-setting__item__head__image img {
  width: 150px;
  height: 80px;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  #menu-setting .menu-setting__container__content__detail__content .menu-setting__item__head__image img {
    width: 75px;
  }
}
#menu-setting .menu-setting__container__content__detail__content .menu-setting__item__tail {
  display: flex;
  align-items: center;
  gap: 14px;
}
#menu-setting .menu-setting__container__content__detail__content .menu-setting__item__tail__edit {
  cursor: pointer;
}

/*# sourceMappingURL=styles.pages.css.map */
