#option-setting {
  height: 100%;


  .option-setting__container {
    height: auto;
    background: #fff;
    border-radius: 24px;
    padding: 24px 48px;
    box-shadow: $code-box-shadow;
    display: flex;
    flex-direction: column;
    gap: 24px;

    @include smartphone {
      padding: 24px;
    }

    &__title {
      font-size: 22px;
      font-weight: 600;
      color: $black;
    }

    &__content {


      &__list {
        display: flex;
        flex-direction: column;
        padding: 12px;
        border-radius: 8px;
        box-shadow: $code-box-shadow;

        &__options {
          display: flex;
          flex-direction: column;
          gap: 12px;


          &__title {
            font-weight: 18px;
            font-weight: 600;
          }

          &__content {
            display: flex;
            flex-direction: column;
            gap: 12px;

            .option-setting__item {
              display: flex;
              align-items: center;
              justify-content: space-between;
              gap: 12px;
              padding: 12px;
              border-radius: 8px;
              border: 1px solid $stroke;
              box-shadow: $code-box-shadow;

              &.active {
                background: $primary;
                color: #fff;
                border-color: #fff;
                transform: translateX(10px);
                transition: all 0.3s ease;
              }
            }

          }
        }
      }

      &__detail {
        height: auto;
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        gap: 8px;


        .option-setting__detail {
          box-shadow: $code-box-shadow;
          padding: 12px 24px;
          height: 100%;
          display: flex;
          flex-direction: column;
          gap: 12px;

          &__title {
            font-size: 20px;
            font-weight: 600;
          }

          &__form {

            &__modifier {
              padding: 24px;
              border-radius: 8px;
              background: #eeece1;

              &__list {
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 12px;


                &__item {
                  width: 100%;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  gap: 8px;
                }

              }
            }
          }

          &__action {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 12px;
            width: 100%;
          }
        }


        &__action {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 16px;
        }
      }
    }
  }

}