//
// Buttons Custom
//

.ant-custom-button {
  border-radius: 12px;
  height: 40px;
  width: 160px;
  font-weight: 400;
  letter-spacing: 0px;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    font-weight: 400;
    letter-spacing: -1px;
  }

  @include tablet {
    width: 100%;
  }

  &.ant-btn-background-ghost.ant-btn-primary {
    color: $primary-text;
    border-color: $primary-text;
  }
}