$primary: #2262C6;

$primary-text: #2262C6;

$black-text: #343434;

$black-text-secondary: #121212;

$secondary: #fbe9e8;

$menu-color: #fcfaf8;

$text-color: #4D4D4D;

$aside-text-color: #838383;

$aside-menu-item-background : #2262C6;

$aside-submenu-item-background : rgba(34, 98, 198, 0.2);

$text-sub-color: #929294;

$colorBorderSecondary : #000000;

$border-table-color : #838383;

$stroke : #838383;

$table-name-color : #2262C6;

$white : #fff;

$black : #000000;

$border-radius: 15px;

$font-size-small: 12px;

$font-size-normal: 14px;

$font-size-medium: 16px;

$font-size-large: 24px;

$font-size-huge: 32px;

$code-box-shadow : 0px 3px 9px rgba(0, 0, 0, 0.08) !default;

.border-radius {
  border-radius: $border-radius;
}

.txt {
  &__small {
    font-size: $font-size-small;
  }

  &__normal {
    font-size: $font-size-normal;
  }

  &__medium {
    font-size: $font-size-medium;
  }

  &__large {
    font-size: $font-size-large;
  }

  &__huge {
    font-size: $font-size-huge;
  }

  &__primary {
    color: $primary;
  }

  &__primary {
    color: $secondary;
  }
}

.bg {
  &__white {
    background-color: white;
  }

  &__primary {
    background-color: $primary;
  }

  &__primary {
    background-color: $secondary;
  }
}